<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Ajouter Patient</title>

</head>
<body>
<div layout:fragment="content1" >
  <div class="col-md-6 offset-3">
      <form method="post" th:action="@{/admin/save}">
          <div class="mb-3">
              <lable class="form-label">Nom:</lable>
              <input class="form-control" type="text" name="nom" th:value="${patient.nom}">
              <span class="form-help text-danger" th:errors="${patient.nom}"></span>
          </div>
          <div class="mb-3">
              <lable class="form-label">Date de Naissance:</lable>

              <input class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
              <span class="form-help text-danger" th:errors="${patient.dateNaissance}"></span>
          </div>
          <div class="mb-3">
              <lable class="form-label">malade:</lable>

              <input class="form-check-input" type="checkbox" name="malade" th:checked="${patient.malade}">
              <span class="form-help text-danger" th:errors="${patient.malade}"></span>
          </div>

          <div class="mb-3">
              <lable class="form-label">score:</lable>
              <input class="form-control" type="text" name="score" th:value="${patient.score}">
              <span class="text-danger" th:errors="${patient.score}"></span>
          </div>
          <button  type="submit" class="btn btn-primary">Ajouter</button>
      </form>
  </div>
</div>

</body>
</html>